*.user
*.suo
*.cache

/ClientServerProtoSample/dotnet/ProtobufClient/bin
/ClientServerProtoSample/dotnet/ProtobufClient/obj
/ClientServerProtoSample/dotnet/ProtobufClient/Generated/*.cs

/ClientServerProtoSample/java/.metadata
/ClientServerProtoSample/java/pb-server/build
/ClientServerProtoSample/java/pb-server/src/io/delta/proto/generated

/SimpleDotnetProtoSample/dotnet/bin
/SimpleDotnetProtoSample/dotnet/obj
/SimpleDotnetProtoSample/dotnet/Generated/*.cs

/SimpleDotnetThriftSample/dotnet/bin
/SimpleDotnetThriftSample/dotnet/obj
/SimpleDotnetThriftSample/dotnet/Generated/*.cs

/SimpleProtoSample/csharp-output
/SimpleProtoSample/java-output

/SimpleThriftSample/csharp-output
/SimpleThriftSample/java-output
/SimpleThriftSample/doc
