csharp-output
java-output
*.user
*.suo
*.cache
/DotnetJavaSimpleProtoSample/dotnet/bin/Debug
/DotnetJavaSimpleProtoSample/dotnet/obj/Debug
/DotnetJavaSimpleProtoSample/dotnet/Generated
/DotnetJavaSimpleThriftSample/dotnet/Generated

/SimpleThriftSample/doc
